@import "mods/General-UI.css";
@import "mods/Essentials.css";

/* --------------------------------------- */
/* General									 							 */
/* --------------------------------------- */

:root {
	--fontfamily-ui: "Roboto Flex", sans serif, "arial";
	--fontsize-ui: 16px;
	--fontsize-icon: 16px;
	--zen-main-browser-background-toolbar: transparent !important;
}

/* --------------------------------------- */
/* Zen Browser UI font size 							 */
/* --------------------------------------- */

/* Tooltip styling */
/*#btTooltip,
#un-toolbar-tooltip,
#tooltip,
.tooltip,*/
#aHTMLTooltip
#urlTooltip,
tooltip
{
	font-size: var(--fontsize-ui) !important;
	font-family: var(--fontfamily-ui) !important;

	padding: 8px !important;
  background: rgba(0, 0, 0, 0.80) !important;
  border: 2px solid rgba(50, 50, 50, 0.70) !important;
  border-radius: 6px !important;

/*  box-shadow:
      0  0   4px  1px rgba(0, 0, 0, 0.85),
      0  0   8px  2px rgba(0, 0, 0, 0.65),
      0  0  16px  4px rgba(0, 0, 0, 0.45),
      0  0  24px  6px rgba(0, 0, 0, 0.25),
      0  0  32px  8px rgba(0, 0, 0, 0.10) !important;*/
}

/* Workspace name */
#zen-current-workspace-indicator-name,
/* Context menu items */
#tabContextMenu *,
/* Toolbar context */
#toolbar-context-menu *,
/* Sidebar header */
#sidebar-header,
/* Sidebar context menus */
#placesContext *,
/* History */
#history-panel *,
/* Bookmarks */
#bookmarksPanel *,
/* Downloads */
#downloadsPanel *,

/* Popups */
#commonDialogWindow *,
.dialog-button-box *,
#bookmarkpropertiesdialog *
{
	font-size: var(--fontsize-ui) !important;
	font-family: var(--fontfamily-ui) !important;
}

/* Adjust font weight */
#history-panel *,
#bookmarksPanel * {
	font-weight: 400;
}

/* Tab title  */
#tabbrowser-tabs {
	font-size: 15px !important;
	font-family: var(--fontfamily-ui) !important;
}

/* URL bar */
#urlbar-search-mode-indicator *,
.urlbar-input-box,
#urlbar-results * {
	font-size: 18px !important;
	font-family: var(--fontfamily-ui) !important;
}

/* <<<<<<<<<<< URL Bar >>>>>>>>>>>> */

/* Search bar border */
#urlbar[open][zen-floating-urlbar="true"]{
	border: 2px solid #33333350 !important;
	border-radius: 6px !important;
}

/* Fix pill */
#urlbar-search-mode-indicator {
	background-color: #33333350 !important;
	padding: 3px 6px 4px 6px !important;
}

/* Icon */
#identity-box {
	width: 18px !important;
	height: 18px !important;
}
/* Fix icon margin */
#urlbar[breakout-extend="true"],
#urlbar-container {
  & #identity-box {
    margin-right: 30px !important;
  }
}
/* Url bar link outline */
.urlbarView-url {
	text-shadow: blue 1px 0px;
}

/* Url bar results */
.urlbarView-row {
  &:not([type="tip"], [type="dynamic"]) {
    :root[uidensity="touch"] & {
      padding-block: 1px !important;
    }
  }
}

/* <<<<<<<<<<< Tab Groups >>>>>>>>>>>> */

/* Tab group addon  */
tab-group:not([split-view-group]) {
  @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
      min-width: 45px !important;
      margin: 0px !important;
    }  
}

/* Fix folder padding */
.tab-group-label-container {

	#tabbrowser-tabs[orient="vertical"] & {
    left: 4px;

	  tab-group:not([collapsed]) > & {
			padding-block-end: none !important;
	    left: 4px;
	  }
	}

}

/* Margin for site content while sidebar is compact */
:root:not([zen-sidebar-expanded="true"]) #zen-appcontent-wrapper {
    margin-left: 36px !important;
}  

/* Icon size */
.zen-workspace-icon {
	font-size: var(--fontsize-icon) !important;
}

/* RMB menu popup */
#appMenu-popup,
/* RMB menu popup */
#menupopup,								
/* Settings popup */
#contentAreaContextMenu,
/* Dialog title */
#dialogTemplate,
/* Certificates */
#certmanager
/* Permissions */
#PermissionsDialog > dialog::part(vbox)
{
	font-family: var(--fontfamily-ui) !important;
}

/* --------------------------------------- */
/* Declutter interface 									   */
/* --------------------------------------- */

/* Status url bar (bottom left corner) */
#statuspanel,
/* Back/Forward buttons */
#back-button,
#forward-button,
/* Reader mode button */
#reader-mode-button,
/* Window controls */
hbox.titlebar-buttonbox-container,
/* Translate extension */
#pageAction-urlbar-_036a55b4-5e72-4d05-a06c-cba2dfcc134a_,
/* Hide Glance buttons */
#zen-glance-sidebar-container,
/* Name in url bar */
#identity-icon-label
/* Zoom % in url bar */
/*#urlbar-zoom-button*/
{
	display: none !important;
}

/* --------------------------------------- */
/* Hide scroll bar for tabs 						   */
/* --------------------------------------- */

@media not (-moz-bool-pref: "theme.nosidebarscrollbar.before125b") {
  scrollbox:nth-child(5) {
      scrollbar-width: none !important;
  }
}

@media (-moz-bool-pref: "theme.nosidebarscrollbar.before125b") {
  #zen-tabs-wrapper {
      scrollbar-width: none !important;
  }
}

/* --------------------------------------- */
/* Ctrl+TAB popup */
/* --------------------------------------- */




/* --------------------------------------- */
/* Declutter RMB popup */
/* --------------------------------------- */

/* Zen0 - Context Menu, Author: Fluntek */
/* Ref - https://discord.com/channels/1088172780480114748/1375511613376958555/1378395025884446791 */

menupopup,
panel,
customization-container,
#appMenu-popup,
#unified-extensions-panel {
  font-weight: 400 !important;
  transform: scaleX(1.008) !important;
  color-scheme: light dark;
  background: rgba(0,0,0,0.1) !important;
  --panel-border-radius: 6px !important;
  --panel-border-color: #2e2e2e90 !important;
  --panel-shadow: 0 0 var(--panel-shadow-margin) hsla(0,0%,0%,.5);
}

menuitem,
menu {
  color: var(--item-color) !important;
  border-radius: 8px !important;
  padding: 10px 10px 10px 7px !important;
  font-size: 13px !important;
}

menuseparator {
  display: none !important;
}

/*Links*/
#context-openlinkintab,
#context-openlinkprivate,
#context-zenSplitLink,
#context-bookmarklink,
#context-copylink,
#context-stripOnShareLink,
#context-translate-selection,
/*#context-savelink,*/
/*#context-searchselect,*/
#suziwen1_gmail_com-menuitem-_inspectLink, /* Switchy Omega */

/* Extensions */
#firefox_tampermonkey_net-menuitem-_root, /* Tampermonkey */
#jid1-d7momazrw417ag_jetpack-menuitem-_searchInWikiwand /* Wikiwand */

/* Text */
#_85860b32-02a8-431a-b2b1-40fbd64c9c69_-menuitem-1, /* File icons Github */
#context-copy-link-to-highlight,
#context-copy-clean-link-to-highlight,

/* Input field */
#context-undo,
#context-redo,
#context-cut,

/* Image */
#context-viewimage,
#context-copyimage,
#suziwen1_gmail_com-menuitem-_inspectElement,
#suziwen1_gmail_com-menuitem-6, /* Switchy Omega */
#suziwen1_gmail_com-menuitem-9, /* Switchy Omega */

/* Video */
#context-media-play,
#context-media-pause,
#context-media-mute,
#context-media-unmute,
#context-media-showcontrols,
#context-viewvideo,
#context-video-fullscreen,
#context-media-hidecontrols,

/* Tabs */
#toolbar-context-reloadSelectedTab,
#toolbar-context-bookmarkSelectedTab,
#context_unloadTab,
#context_zenSplitTabs,
#context_undoCloseTab,
#context_zen-replace-pinned-url-with-current,
/*#context_toggleMuteTab,*/

/* Unsorted */
#context-openlink,
#context-media-playbackrate,
#context-video-pictureinpicture,
#context-video-saveimage,
#context-sendvideo,
/*#context_openANewTab,*/
#pageAction-urlbar-copy-frame-url_jeffersonscher_com,
#context-take-screenshot,
#context-sep-screenshots,
#frame-sep,
#context-savepage,
#context-viewsource,
#context-inspect-a11y,

/*#context-inspect,*/
#inspect-separator,

#context-media-eme-separator,
#context-viewpartialsource-selection,
#context_duplicateTab,
#context_duplicateTabs,
#context_selectAllTabs,
#context_selectedAllTabs,
#toolbar-context-selectAllTabs,
#context-selectall,
#context-sep-selectall,
#spell-separator,
#spell-check-enabled,
#spell-add-dictionaries-main,
#spell-dictionaries,
#context-sep-bidi,
#context-bidi-text-direction-toggle,
#context-bidi-page-direction-toggle,
#context-sendimage,
#context-sep-setbackground,
#context-setDesktopBackground,
#context-sep-sharing,
#context-viewimageinfo,
#context-print-selection,
#context-searchselect-private,
#context_closeTab,
#context_closeDuplicateTabs,
#context_closeTabOptions,
#context_sendTabToDevice,
#context-sendpagetodevice,
#context-sendlinktodevice,
#context_reopenInContainer,
#context-openlinkinusercontext-menu,
#context_moveTabOptions,
#context-zenAddToWebPanel,
#context_toggleMuteSelectedTabs,
#context_playTab,
#context_playSelectedTabs {
  display: none !important;
}

/* Credit to Ferrocyante */
#tabContextMenu:has(
    #context_reloadTab:not([hidden])
):has(
    :is(#context_pinTab, #context_unpinTab, #context_bookmarkTab):not([hidden])
) {
    :nth-child(1 of menuseparator) {
        order: 1 !important;
    }

    #context_reloadTab,
    :is(#context_zen-add-essential, #context_zen-remove-essential),
    :is(#context_pinTab, #context_unpinTab),
    #context_bookmarkTab {
        order: -10 !important;
        --tab-button-height: 50px;
        width: 25% !important;
        height: var(--tab-button-height) !important;
        border-radius: 6px !important;     
    }

    #context_reloadTab .menu-text,
    #context_zen-add-essential .menu-text,
    #context_zen-remove-essential .menu-text,
    #context_pinTab .menu-text,
    #context_unpinTab .menu-text,
    #context_bookmarkTab .menu-text {
        display: none !important;
    }

    #context_zen-remove-essential {
        margin-left: 37.5% !important;
        margin-top: calc(0px - var(--tab-button-height)) !important;
    }

    #context_zen-add-essential {
        margin-left: 50% !important;
        margin-top: calc(0px - var(--tab-button-height)) !important;
    }

    :is(#context_pinTab, #context_unpinTab) {
        margin-left: 25% !important;
        margin-top: calc(0px - var(--tab-button-height)) !important;
    }

    #context_bookmarkTab {
        margin-left: 75% !important;
        margin-top: calc(0px - var(--tab-button-height)) !important;
    }
}
#tabContextMenu:has(
  #context_reloadTab:not([hidden])
):has(
  :is(#context_pinTab, #context_unpinTab, #context_bookmarkTab):not([hidden])
):not(
  :has(:is(#context_zen-add-essential, #context_zen-remove-essential):not([hidden]))
) {
  #context_reloadTab,
  :is(#context_pinTab, #context_unpinTab),
  #context_bookmarkTab {
    width: 33.33% !important;
  }

  #context_reloadTab {
    margin-left: 0% !important;
  }

  :is(#context_pinTab, #context_unpinTab) {
    margin-left: 33.33% !important;
  }

  #context_bookmarkTab {
    margin-left: 66.66% !important;
  }
}
  
:not(:not(menubar) > menu, 
#ContentSelectDropdown) > menupopup > menuitem:not(.unified-nav-current),
#tabContextMenu {
  background-image: var(--menu-image) !important;
}

menupopup {
  width: 230px !important;
}

#context_reloadTab {
  --menu-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='%23ffffff'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px 16px !important;
}


#context_pinTab,
#context_unpinTab {
  --menu-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4'/%3E%3Cpath d='M9 15l-4.5 4.5'/%3E%3Cpath d='M14.5 4l5.5 5.5'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 18px 18px !important;
}


#context_zen-add-essential,
#context_zen-remove-essential {
  --menu-image: url("https://github.com/Ayamarre/Zen0-Context-Menu/blob/main/Icons/essential.png?raw=true") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px 16px !important;
}


#context_bookmarkTab {
  --menu-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='%23ffffff'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px 16px !important; 
}


#unified-extensions-view box.panel-header,
#unified-extensions-description,
#unified-extensions-messages-container,
.unified-extensions-item-message-deck,
toolbarseparator:not(panel toolbarseparator),
panel toolbarseparator,
menuseparator, menuseparator:first-of-type, menuseparator::before {
  display: none !important;
}

tab-group[split-view-group] > .tabbrowser-tab:not(:last-child)::after {
  display: none !important;
}
 
#appMenu-zoom-controls {
  border-top: none !important;
    
  & #appMenu-fullscreen-button2::before {
    content: none !important;
  } 
}

#downloadsPanel {
  font-weight: bold !important;
  color-scheme: light dark;
  /*--panel-background: var(--uc-context-menu) !important;*/
  background: rgba(0,0,0,0.1) !important;
  --panel-border-radius: 6px !important;
  --panel-border-color: #2e2e2e90 !important;
  --panel-shadow: 0 0 var(--panel-shadow-margin) hsla(0,0%,0%,.2);
}

#downloadsFooterButtons > toolbarseparator {
  display: none !important;
}

.downloadButton {
  min-width: 40px !important;
}

#downloadsListBox {
  font-weight: 600 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  gap: 2px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scrollbar-width: none !important;
  box-sizing: border-box !important;
}

#downloadsListBox > richlistitem {
  flex: 1 1 calc(50% - 10px) !important;
  min-width: 100px !important;
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  color-scheme: light dark;
}

#downloadsHistory {
  font-size: 14px !important;
  min-block-size: 40px !important;
  text-underline-offset: 10000px !important;
  font-weight: 600 !important;
}

#unified-extensions-view {
  margin-block: 2px !important;
  min-height: 15px !important;
  line-height: 15px !important;
}

/* --------------------------------------- */
/* UNUSED */
/* --------------------------------------- */

/*#main-window {
--zen-main-browser-background-toolbar: transparent !important;
--zen-main-browser-background: transparent !important;
--zen-main-browser-background-old: transparent !important;
}*/